/* App's static wrapper */

html {
    overflow-x: hidden;
}

.App {
    text-align: center;
    overflow-x: hidden;
}

#Grovv-Logo {
    pointer-events: none;
    width: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.App-body {
    background-color: #5a5252;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
}

#App-Header {
    position: fixed;
    overflow: hidden;
    top: 0;
    height: 100px;
    width: inherit;
    background-color: #317d92;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#Footer-Btns {
    /* padding-top: 2px; */
    position: absolute;
    padding-bottom: 2px;
    left: 64px;
    top: 70px;
    display: flex;
    justify-content: flex-end;
}

.QuickTemp-Row {
    /* padding-top: 2px; */
    padding-bottom: 2px;
    display: flex;
    justify-content: flex-end;
}

#Home-Div {
    height: 100px;
    background-color: #317d92;
}

#App-Body-Content {
    display: flex;
    flex-direction: row;
    height: 100%;
    z-index: 0;
}

#App-Inner-Body {
    width: 100vw;
}

#Main-Left-Wrapper {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 100;
}

#Main-Left {
    display: flex;
    flex-direction: column;
    width: 240px;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(31, 30, 30);
    overflow-x: hidden;
}

#Main-Left-Menu {
    display: flex;
    flex-direction: column;
    width: 240px;
    z-index: 1;
    background-color: #6c8a66;
    overflow-x: hidden;
}

#Menu-Handle {
    height: 80px;
    margin-top: 21px;
    z-index: 100;
    position: relative;
    background-color: #76a86f;
}

.Left-Menu-Btn {
    background: #496870;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    border: none;
    min-height: 67px;
    margin-bottom: 2px;
    flex: 1;
}

.Left-Menu-Btn:hover {
    background: #5c7a81;
}

.Left-Menu-Btn:active {
    background: #7899a0;
}

.Temp-Gauge-Btn {
    background: #91eebb;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: center;
    width: 80px;
    height: 24px;
    margin-left: 4px;
}

.Humid-Gauge-Btn {
    background: #91eebb;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: center;
    width: 80px;
    height: 24px;
    margin-left: 4px;
}

.Humid-Gauge-Btn:hover {
    background: #eaebb4;
}

.Grow-Area-Btn {
    background: #91b4bd;
    font-size: 16px;
    font-weight: bold;
    border: none;
    text-align: center;
    width: 80px;
    height: 24px;
    /* margin-left: 4px; */
}

.Grow-Area-Btn:hover {
    background: #eaebb4;
}

.Grow-Area-Btn:active {
    background: #a4ccd6;
}

#Profile-Btn {
    background: #91bda8;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: center;
    width: 80px;
    height: 24px;
    margin-left: 4px;
}

#Profile-Btn:active {
    background: #90bfe6;
}

#Profile-Btn:hover {
    background: #76ad65;
}

#Logout-Btn {
    background: #91bda8;
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: center;
    width: 80px;
    height: 24px;
    margin-left: 4px;
}

#Logout-Btn:active {
    background: #90bfe6;
}

#Logout-Btn:hover {
    background: #76ad65;
}

#Main-Content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.App-link {
    color: #61dafb;
}


/* Website view  */

.Site-View {
    overflow: auto;
}

.Site-View-Update {
    overflow: auto;
    /* width: calc(100% - 240px); */
    height: 100%;
    position: fixed;
}


/* Auth */

#signin-div {
    background-color: #94bbce;
    margin: 6px;
    padding: 16px;
    color: #1d1b1b;
}

#signup-div {
    background-color: #8acea6;
    margin: 6px;
    padding: 16px;
    color: #1d1b1b;
}

#signin-username {}

#signup-username {}

#submit-signin-btn {}

#submit-signup-btn {}

#goto-signup-button {}

#goto-signin-button {}

#Left-Chart-Btns {
    display: flex;
}

.EditChart-Menu-Btn {
    background: #d6da20;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-right: 2px;
    border: none;
    height: 67px;
    margin-bottom: 2px;
    flex: 0.5;
}

.EditChart-Menu-Btn:hover {
    background: #34b13a;
}

.EditChart-Menu-Btn:active {
    background: #cdeeb2;
}

#Chart-Page {
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    height: 100%;
}

#Food-Chart {
    width: 100%;
    height: 100%;
}


/* Config Page */

#Config-Page {
    background: rgb(12, 68, 21);
    color: #FFF;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 200px;
    margin-right: 200px;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

#Config-Temp-Field {
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #e47c40;
    margin: 20px;
}

#Config-Temp-Min-Max {
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#Config-Fan-Min-Max {
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#Config-Humidity-Field {
    margin: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    padding: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5585bb;
}

#Config-Humidity-Min-Max {
    padding: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#Config-Humidifier-Min-Max {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#SAVE-CONFIG-BTN {
    background-color: #f1ff34;
    color: #000;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}

#SAVE-CONFIG-BTN:hover {
    background-color: #45cc4b;
}

#SAVE-CONFIG-BTN:active {
    background-color: #6deb73;
}

.Config-Input {
    max-width: 60px;
    margin-bottom: 4px;
}


/* Journal Page */

#Journal-Page {
    width: 100%;
    height: 100%;
}

#Journal-Main {
    background: rgb(11, 46, 17);
    color: #FFF;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}


/* JOURNAL MODAL */

#Journal-Modal-Space {
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #000000a9;
    position: absolute;
}

#Journal-Edit-Entry-Modal {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 4%;
    background-color: #29a343;
    padding: 6px;
}

.journal-modal-edit-date {
    display: flex;
    flex-direction: row;
}

.modal-date-li {
    font-size: 16px;
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 4px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.modal-date-li a {
    color: #fff;
}

.modal-date-li:hover {
    background: red;
    cursor: pointer;
}

.journal-modal-edit-date {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 200px;
}

.journal-entry-date-dropdown {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

.date-li {
    clear: both;
    width: 100%;
    font-size: 16px;
}

.modal-date-li:hover>ul,
.modal-date-li:focus-within>ul,
.journal-entry-date-dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}


#Journal-Edit-Topline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.journal-modal-edit-stage {
    display: flex;
    flex-direction: row;
}

.modal-stage-li {
    font-size: 16px;
    color: #fff;
    background: darkorange;
    display: block;
    float: left;
    padding: 4px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.modal-stage-li a {
    color: #fff;
}

.modal-stage-li:hover {
    background: red;
    cursor: pointer;
}

.journal-modal-edit-stage {
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 200px;
}

.journal-entry-stage-dropdown {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

.stage-li {
    clear: both;
    width: 100%;
    font-size: 16px;
}

.modal-stage-li:hover>ul,
.modal-stage-li:focus-within>ul,
.journal-entry-stage-dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.journal-modal-edit-date-container {
    flex: 1;
}

.journal-modal-edit-stage-container {
    flex: 1;
}    

.journal-modal-edit-title {
    flex: 1.5;
}

.journal-modal-edit-body {
    max-height: 200px;
    min-height: 120px;
    margin-top: 4px;
    margin-bottom: 4px;
    flex: 1;
}

.journal-add-images-area {
    background-color: #aaa2a2;
    user-select: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    max-height: 200px;
    display: flex;
    flex-direction: row;
}

.journal-add-images {
    background-color: #a7ac6c;
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
}

.journal-save-entry-btn {
    margin: 4px;
    min-height: 30px;
    z-index: 99;
    background-color: rgb(65, 238, 102);
}

.journal-cancel-btn {
    margin: 4px;
    min-height: 30px;
    z-index: 99;
    background-color: rgb(209, 88, 88);
}

.Journal-Post-View {
    background-color: rgb(103, 156, 78);
    color: #000;
    flex: 1;
    padding: 20px;
    max-height: 80vh;
    z-index: 1;
    margin: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
}



.Journal-Post-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Journal-Post-Title {
    font-size: 24px;
    font-weight: bolder;
}

.Journal-Post-Date {
    font-size: 18px;
    font-style: italic;
}

.Journal-Post-Content {
    width: 100%;
    text-align: left;
    font-size: 18px;
}

.Journal-Post-Images {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #92b83b;;
}

.Journal-Post-Images-Wrapper {
    max-height: 100%;
    overflow-y: auto;
}

.Journal-Edit-Post-Images {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1;
    background-color: #92b83b;;
}

.Journal-Entry-Thumbnail {
    padding: 4px;
    object-fit: contain;
    max-height: 200px;
    max-width: 200px;
}

.Journal-Entry-Preview-Thumbnail {
    max-width: 200px;
}

#Grow-Journal-Header-Text {
    /* text-align: right; */
    padding: 4px;
    margin-right: 10px;
    font-size: 24px;
}

#Grow-Journal-Entry-Area {
    color: #FFF;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    position: relative;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.Temp-Image-Div {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgb(138, 133, 133);
}

.Delete-Image-Btn {
    position: absolute;
    user-select: none;
    right: 10px;
    top: 0;
    cursor: pointer;
    font-size: 32px;
    font-weight: bolder;
    color: rgb(241, 247, 158);
}

.Delete-Image-Btn:hover {
    color: rgb(250, 6, 6);
}

.Delete-Image-Btn:hover {
    color: rgb(241, 79, 79);
}

#journal-edit-datepicker {
    height: 24px;
}

#journal-cancel-save-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#Image-Drop-Text {
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
}

#Grow-Journal-Title-Select {
    font-size: 20px;
    width: 70%;
    margin: 1%;
    margin-left: 28%;
}

#Grow-Journal-Header-Area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1%;
}

.New-Journal-Btn {
    font-size: 24px;
}
.New-Journal-Btn:hover {
    background-color: rgb(130, 231, 130);
}
.New-Journal-Btn:active {
    background-color: rgb(11, 218, 11);
}

#Journal-Create-Modal {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 4%;
    background-color: #29a343;
    padding: 6px;
}

.journal-modal-journal-name {

}

#journal-create-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.journal-cancel-create-btn{

}

.journal-create-journal-btn {
    
}

/* TIMELINE */


#Timeline-Container {
    position: relative;
    margin: 5%;
    transform: rotate(180deg);
}

#Timeline-Line {
    height: 98%;
    width: 6px;
    position: relative;
    background-color: #ceac16;
}

#Timeline-Spots {
    height: 100%;
    left: -450%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Dot-Connector-Text-rotate-180 {
    transform: rotate(180deg);
    font-size: 10px;
    font-weight: bold;
    text-align: right;
    padding-right: 12px;
    color: rgb(252, 252, 252);
}

.Timeline-Dot-Connector {
    height: 6px;
    min-width: 50vw;
    background-color: rgb(103, 156, 78);
    position: absolute;
    left: 28px;
    margin-top: 6px;
    color: #FFFFFF;
    user-select: none;
}

.Timeline-Dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    position: absolute;
    color: #FFFFFF;
    user-select: none;
}

#Timeline-Dot-Seedling {
    background-color: #5dff5d;
}

#Timeline-Dot-Veg {
    background-color: #099b09;
}

#Timeline-Dot-Flower {
    background-color: #da0dc8;
}

#Timeline-Dot-Pre {
    background-color: #854520;
}

#Timeline-Dot-Post {
    background-color: #a1a862;
}

#Timeline-Dot-Seedling:hover, #Timeline-Dot-Veg:hover, #Timeline-Dot-Pre:hover,  #Timeline-Dot-Post:hover, #Timeline-Dot-Flower:hover  {
    background-color: #00ff2a;
}

#Timeline-Dot-Seedling:active, #Timeline-Dot-Veg:active, #Timeline-Dot-Pre:active,  #Timeline-Dot-Post:active, #Timeline-Dot-Flower:active {
    background-color: #aecfae;
}

#Timeline-Add-Dot {
    height: 40px;
    width: 40px;
    background-color: #f3d216;
    border-radius: 50%;
    left: 10px;
    position: relative;
    color: rgb(0, 0, 0);
    user-select: none;
}

#Timeline-Add-Dot:hover {
    background-color: rgb(48, 226, 57);
}

#Timeline-Add-Dot:active {
    background-color: #fdfcbf;
}
