/* App's static wrapper */

html {
  overflow: hidden;
  background-color: #2c332c;
  height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100vh;
}

body {
  height: 100vh;
}

.App-body {
  background: #101d10;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

#App-Header {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 100px;
  width: inherit;
  background-color: #317d92;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#App-Body-Content {
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Auth */
#signin-div {
  background-color: #94bbce;
  margin: 6px;
  padding: 16px;
  color: #1d1b1b;
}

#signup-div {
  background-color: #8acea6;
  margin: 6px;
  padding: 16px;
  color: #1d1b1b;
}

/* Config Page */

.Config-Settings-Field {
  padding: 4px;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
  max-width: 400px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  color: #000;
  background-color: #e47c40;
}

.Settings-Data-Line {
  font-size: 12px;
  display: flex;
  justify-content: space-around;

  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#SAVE-CONFIG-BTN {
  background-color: #f1ff34;
  color: #000;
  margin-left: 16px;
  margin-right: 16px;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
  user-select: none;
}

#SAVE-CONFIG-BTN:hover {
  background-color: #45cc4b;
}

#SAVE-CONFIG-BTN:active {
  background-color: #6deb73;
}

.Config-Item-Header-Text {
  font-weight: 900;
  user-select: none;
  text-align: left;
}

/* GROWS PAGE */

#Grow-Header-Text {
  padding: 4px;
  margin-right: 10px;
  font-size: 1.1em;
  user-select: none;
}

/* Grow Details Page */

.Grow-Details-Page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-y: auto;
}

.Grow-Details-Page-Panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Grow-Details-Content-Cam {
  flex: 1;
  min-width: 55vw;
  max-height: 55vh;
  background-color: #000;
  position: relative;
}

.Grow-Details-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(26, 26, 26);
}

#Grow-Details-Data-Display {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background: #010f01;
}

.Grow-Data-Display {
  width: 100%;
}

.Grow-Details-Main-Btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Grow Config */

#Grow-Details-Config-Header-Text {
  margin-right: 10px;
  text-align: right;
  font-size: 24px;
  user-select: none;
}

#Grow-Details-Config-Page {
  background: rgb(42, 63, 44);
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
  text-align: center;
  flex: 1;
  position: absolute;
  overflow-x: hidden;
}

#Grow-Details-Config-Settings-Div {
  height: 100%;
}

#Grow-Details-Config-Layout-Div {
  flex: 2;
  height: 100%;
  min-width: 66vw;
  background-color: rgb(158, 139, 98);
}

#GROW-DETAILS-RESET-BTN {
  height: 25px;
  color: #000;
  width: 90px;
  padding: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  background-color: #ff4234;
  border-radius: 5px;
}

#GROW-DETAILS-RESET-BTN:hover {
  background-color: #f55f54;
}

#GROW-DETAILS-SAVE-CONFIG-BTN {
  border-radius: 5px;
  height: 25px;
  background-color: #f1ff34;
  color: #000;
  width: 65px;
  padding: 10px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

#GROW-DETAILS-SAVE-CONFIG-BTN:hover {
  background-color: #63ff34;
}

.Grow-Details-Cam-Full-Btn {
  position: absolute;
  background: rgb(40, 40, 43);
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #fff;
  right: 1%;
  top: 1%;
  user-select: none;
  cursor: pointer;
}

.Grow-Details-Cam-Full-Btn:hover {
  background: rgb(79, 219, 36);
  color: #000;
}

/* FULL SCREEN CAM */

#Grow-Cam-Full {
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
}

.Grow-Cam-Full-Exit-Btn {
  position: absolute;
  background: rgb(40, 40, 43);
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  color: #fff;
  right: 1%;
  top: 1%;
  user-select: none;
  cursor: pointer;
}

.Grow-Cam-Full-Exit-Btn:hover {
  background-color: #db5e24;
  color: #000;
}

.Grow-Details-Journals {
  background-color: rgb(50, 73, 6);
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Grow-Details-Journals-Header {
  padding: 4px;
  margin-right: 2%;
  font-size: 24px;
  user-select: none;
  text-align: right;
}

/* GRAPHS PAGE */

.Chart-Container {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}

.recharts-tooltip-label {
  color: #000;
}

.recharts-cartesian-axis-tick {
  font-size: 0.5em;
  font-family: Roboto, sans-serif;
}

/* APP BAR */
#App-Bar {
  width: 100%;
  max-width: 100vw;
  height: 40px;
  min-height: 40px;
  background-color: #222922;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  box-shadow: 1px 2px 5px grey;
  z-index: 1;
}

#App-Bar-Logo {
  cursor: pointer;
  width: 40px;
  max-width: 40px;
  user-select: none;
  background-color: #477915;
}

.App-Bar-Button {
  cursor: pointer;
  font-size: 0.5em;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 14px;
  height: 100%;
  background-color: black;
  user-select: none;
  margin-left: 2px;
}

.App-Bar-Button:hover {
  font-weight: bolder;
  background-color: rgb(26, 36, 19);
  margin-top: 1px;
}

.App-Bar-Button:active {
  background-color: rgb(45, 61, 34);
}

.App-Bar-Button-Grow {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  padding-left: 8px;
  height: 100%;
  max-height: 100%;
  background-color: rgb(63, 105, 47);
  user-select: none;
  margin-left: 2px;
  width: 35px;
  max-width: 35px;
}

.App-Bar-Button-Grow:hover {
  background-color: rgb(78, 170, 42);
  margin-top: 1px;
}

.App-Bar-Button-Grow:active {
  background-color: rgb(65, 85, 57);
  color: #fff;
}

.App-Bar-Button-Updated {
  background: #171a17;
  display: flex;
  font-size: 0.4em;
  font-weight: 200;
  justify-content: flex-end;
  min-width: 100%;
  padding-right: 1px;
  padding-bottom: 1px;
  margin-top: -1px;
  user-select: none;
  max-height: 12px;
  min-height: 12px;
  margin-bottom: -13px;
  overflow: hidden;
}

.App-Bar-Button-Grow-Name {
  display: flex;
  font-size: 0.75em;
  font-weight: 600;
  padding: none;
  margin-bottom: -1px;
  padding-right: 8px;
  user-select: none;
  max-height: 20px;
}

.App-Bar-Button-Grow-Temp {
  font-size: 0.7em;
  padding-left: 1px;
  padding-right: 1px;
  max-height: 100%;
  font-weight: 600;
  background-color: rgb(219, 151, 105);
  user-select: none;
  color: #000;
}

.App-Bar-Button-Grow-Humidity {
  font-size: 0.7em;
  padding-left: 1px;
  padding-right: 1px;
  max-height: 100%;
  font-weight: 600;
  background-color: rgb(119, 136, 185);
  user-select: none;
  color: #000;
}

.App-Bar-Dropdown-Icon {
  color: #fff;
  display: flex;
  font-size: 30px;
  font-weight: bolder;
  width: 40px;
  text-align: center;
  padding-right: 2px;
  user-select: none;
  cursor: pointer;
  margin-top: -2px;
}

.App-Bar-Dropdown-Icon:hover {
  background-color: rgb(107, 112, 107);
  margin-top: 0px;
}

.App-Bar-Dropdown-Icon:hover .App-Bar-Submenu {
  visibility: visible;
  cursor: pointer;
}

.App-Bar-Submenu {
  visibility: hidden;
}

.App-Bar-Submenu-Item {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
  font-size: 18px;
  background: #43b3b3;
}

.App-Bar-Submenu-Item:hover {
  background: #b8ccd2;
}

.App-Bar-Submenu-Settings {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
  font-size: 18px;
  background: #666562;
}

.App-Bar-Submenu-Settings:hover {
  background: #9b9897;
}

.App-Bar-Submenu-Logout {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
  font-size: 18px;
  background: #cfaa25;
}

.App-Bar-Submenu-Logout:hover {
  background: #d4c582;
}

/* ...else.. */

.Grow-Details-Bottom-Btns {
  display: flex;
  height: 30px;
  flex-wrap: wrap;
  z-index: 1;
}

/* GROW DETAILS GRAPH TOOLTIP */
.Grow-Details-Graph-Tooltip {
  width: 155px;
  background-color: rgb(10, 10, 10);
  color: rgb(225, 231, 223);
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
}

.Grow-Details-Graph-Tooltip-Data {
  font-size: 0.9em;
  font-weight: 400;
}

/* GROW DETAILS DATA DISPLAY */
#Grow-Details-Main-Data-Display {
  font-size: 18px;
  color: #ededf1;
  background-color: #00000028;
  display: flex;
  flex-direction: column;
  user-select: none;
  font-weight: 600;
}

.Grow-Details-Main-Data-Display-Row {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-bottom: 1px;
  overflow: hidden;
  height: 30px;
}

.Grow-Details-Headers-Display-Row {
  display: flex;
  flex-direction: row;
  background: #0c140d;
}

.Grow-Details-Main-Data-Row-Header {
  display: flex;
  flex-direction: column;
  text-align: bottom;
  font-size: 0.6em;
  width: 88px;
  max-width: 88px;
}

.Grow-Details-Main-Data-Time {
  font-weight: bold;
  background-color: #444439;
  color: #d3d3d4;
  font-size: 0.6em;
}

.Grow-Details-Main-Data-Data {
  font-weight: bold;
  background-color: #b6b6ad;
  color: #000;
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 64px;
  max-width: 64px;
}

.Grow-Details-Main-Yest-Data {
  font-weight: bold;
  background-color: #000;
  color: #a9a9a9;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 64px;
  max-width: 64px;
}

.Grow-Details-Main-Data-Current-Data {
  font-weight: 700;
  background-color: #38c538;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 88px;
  max-width: 88px;
  margin-bottom: 1px;
}

/* Grow SetUp */
#Grow-Set-Up-Page {
  background-color: #c9d4ab;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#Grow-Visual-Editor {
  background-color: rgb(105, 66, 43);
  min-width: 333px;
  min-height: 333px;
  flex: 1;
}

#Grow-Items-List {
  min-width: 180px;
}

/* GROW SETTINGS */
/* 2020 */

/* AllGraphs */
.AllGraphs-Graph-Item {
  width: 100%;
  background-color: rgb(7, 14, 6);
  color: #fff;
  margin: 0.5%;
  margin-top: 0;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 2px 2px 4px rgb(3, 14, 3);
}

.AllGraphs-Graph-Main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.AllGraphs-Graph-Name {
  user-select: none;
}

.AllGraph-Tooltip {
  width: 300px;
  background-color: rgb(10, 10, 10);
  color: rgb(225, 231, 223);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 0.75em;
  max-height: 300px;
}

.AllGraph-Tooltip-Data {
  font-size: 0.8em;
  font-weight: 400;
  max-width: 150px;
}

#All-Graphs-Buttons {
  font-size: 0.8em;
  width: 100%;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.AllGraph-Main-Data-Display-Row {
  display: flex;
  height: 30px;
  max-height: 30px;
}

.AllGraph-Main-Data-Current-Data {
  font-weight: 700;
  background-color: #38c538;
  font-size: 1em;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 87px;
  max-width: 87px;
  margin-bottom: 1px;
}

/* Lifetime PAGE! */
.Lifetime-Graph-Tooltip {
  width: 420px;
  max-height: 300px;
  background-color: rgb(10, 10, 10);
  color: rgb(225, 231, 223);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 0.75em;
}

.Lifetime-Graph-Area {
  flex: 1;
}

/* TOBY SCREENSAVER */
.Loading-Screensaver {
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  top: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Flying-toby {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Flying-toby {
    animation: Flying-toby-spin infinite 20s linear;
  }
}

@keyframes Flying-toby-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
