/* SongListItem.js */
.SongListItem {
    display: flex;
    flex-direction: row;
    margin: 6px;
    padding: 4px;
    background-color: rgb(233, 243, 245);
    color: rgb(15, 15, 14);
    text-align: left;
}

.songHeader {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.songName {
    color: rgb(17, 17, 16);
    font-size: calc(12px + 2vmin);
    font-weight: bolder;
    flex: 1;
}

.artistName {
    flex: 1;
    font-size: calc(12px + 2vmin);
    font-weight: bold;
}

.recordingDate {
    flex: 1;
    text-align: right;
    font-style: italic;
}

.songLength {
    text-align: center;
}
.songInfo {
   width: 100%;
   flex: 1;
   background-color: rgb(203, 203, 211);
   padding: .2em;
   color: rgb(51, 53, 46);
}

.songArt {
    max-height: 25vh;
}

.songListItemRight {
    width: 100%;
    padding: .4em;
}